<div class="row bg-black p-5">
  <div class="col-12">
    <h1 class="text-white">contact</h1>
  </div>
</div>
<div class="row bg-black px-5 py-2 pb-5">
  <span class="text-white fw-lighter">elisenda.lv&#64;gmail.com</span>
  <span class="text-white fw-lighter">+34 659 883 272</span>
  <span class="text-white fw-lighter">From Barcelona</span>
  <li class="nav-item pt-5">
    <a href="https://www.linkedin.com/in/elisenda-lv/" target="_blank"><i class="fa-brands fa-linkedin-in pe-5" style="color:white"></i></a>
    <a href="https://github.com/Elisenda-LV" target="_blank"><i class="fa-brands fa-github" style="color:white"></i></a>
  </li>
</div>
