<div class="row border-bottom py-4 px-5">
  <h1 class="">{{ 'projects-title' | translate }}</h1>
</div>
<div class="row m-md-5 pb-5">
  <div class="col-12 col-md-5 text-center">
    <img class="projects-img" src="/assets/img/projects-cercle.png" alt="projects">
  </div>
  <div class="col-12 col-md-7 text-md-end p-5 mt-5">
    <h2 [innerHTML]="'projects-subtitles' | translate"></h2>
  </div>
</div>

<div class="row p-5">
  <h1 class="border-bottom p-4 mb-5">{{ 'highlighted-projects' | translate }}</h1>
  <form class="p-3">
    <select class="form-select mb-5 bg-light ps-4" [(ngModel)]="selectedTag" (change)="filterProjects()" name="selectedTag">
      <option value="">{{ 'filter-projects' | translate }}</option>
      <option value="angular">Angular</option>
      <option value="typescript">TypeScript</option>
      <option value="node">Node</option>
      <option value="mariaDB">MariaDB</option>
      <option value="react">React</option>
      <option value="frontend">Frontend</option>
      <option value="backend">Backend</option>
    </select>
  </form>

  @for(allproject of filteredProjects; track $index){
    <div class="col-md-4 mb-3">
      <div class="card bg-light p-4">
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{ allproject.name }}</h5>
          <span class="text-secondary fw-light pt-5">{{ allproject.company }}</span>
          <p class="card-text">{{ allproject.description }}</p>
          <span class="text-primary pe-1" *ngFor="let tag of allproject.tags">#{{ tag }}</span>
          <a [href]="allproject.link" class="btn btn-dark d-block mt-5" target="_blank">+ View Project</a>
        </div>
      </div>
    </div>
  }
</div>
