.btn{
  border-radius:20pt;
  width: 100%;
  font-weight: lighter;
  font-size:10pt;
}

.form-select{
  border-radius:20pt;
  font-weight: lighter;
  font-size: 11pt;
}

.projects-img {
  width: 90%;
  border-radius: 50%;
}

.highlight {
  background-color: #faf9f5;
}

span{
  font-size: 10pt;
}

.card-text{
  font-size: 11pt;
}






