.btn-dark{
  border-radius:20pt;
  width: 100%;
}
.btn-outline-dark{
  border-radius:20pt;
  font-weight: lighter;
  font-size:10pt;


}
.highlight {
  background-color: #FBE965;
}
.card{
  border-radius: 20pt;
}





