<div class="row border-bottom py-4 px-5">
  <h1 class="">{{ 'cv-title' | translate }}</h1>
</div>
<div class="row p-md-5 p-4">
  <div class="col-12 col-md-5 text-center">
    <img class="cv-img" src="/assets/img/cv-cercle.png" alt="profile">
  </div>
  <div class="col-12 col-md-7 p-md-5 p-4 text-md-end">
    <h2 class="py-5 px-2" [innerHTML]="'cv-subtitle' | translate"></h2>
    <a href="/assets/elisenda_lv_cv.pdf" download="elisenda_lv_cv.pdf" class="btn btn-outline-dark px-4">download cv</a>
  </div>
</div>

<div class="accordion" id="accordion1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h1 class="px-4">{{ 'cv-experience' | translate }}</h1>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show p-4" aria-labelledby="headingOne" data-bs-parent="#accordion1">
      <div class="accordion-body  p-5">

        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h5 class="card-title"><strong>CAPITOLE</strong> Frontend Developer</h5>
            <p class="card-text text-primary">Barcelona | Hybrid | feb.2024 - sept.2024</p>
            <h6 class="text-secondary">🌱 At Vueling, I took advantage of the great opportunity to train as a Frontend Developer specializing in Angular within a major company listed on the Ibex 35. Additionally, I had the chance to become familiar with their SCRUM-based workflow and to use tools like Azure DevOps, among others.</h6>
          </div>
        </div>

        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h5 class="card-title"><strong>ITA </strong>Frontend Developer</h5>
            <p class="card-text text-primary">Barcelona | Hybrid | nov.2023 - feb.2024</p>
            <h6 class="text-secondary">🧩 I am involved in developing a programming challenge platform as a Frontend Developer (Angular) within a team of nine people. We use the SCRUM methodology, perform testing, layout design, web development, and connect to various APIs, among other tasks. We also presented the Beta version of the app to the client.</h6>
          </div>
        </div>
        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h5 class="card-title"><strong>Career Break</strong></h5>
            <p class="card-text text-primary">Barcelona | on-site | jan.2023 - jan.2024</p>
            <h6 class="text-secondary"> 🌱 After a rewarding experience in a fintech startup, I decided it was the right time to pursue a professional reskilling to become a Frontend Developer.
              <br><br>
              🚀 At IT Academy, I completed intensive Bootcamps in Programming Fundamentals in JavaScript and Angular Specialization
              <br><br>
              These demanding months of programming courses, with biweekly sprint submissions, challenged my organizational skills, error resolution, and resilience.
              <br><br>
              ⚡️ Despite the intensity, I feel accomplished and thrilled to have discovered a new field where I grow more confident and motivated every day.</h6>
          </div>
        </div>
        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h5 class="card-title"><strong>Loan eMarket</strong> Key Acount Manager</h5>
            <p class="card-text text-primary">Barcelona | Hybrid | feb.2020 - dic.2022</p>
            <h6 class="text-secondary">🎯 At LEM Loan eMarket, a Barcelona-based fintech, I worked as a Key Account Manager and in Digital Marketing. During the pandemic, I adapted to multiple roles, collaborating closely with the IT team to develop the marketplace and manage the influx of new users. <br><br> With my banking background, I contributed to product design and the purchasing process. It was here that I discovered programming and gained insight into working in a tech-driven environment.</h6>
          </div>
        </div>

        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h5 class="card-title"><strong>BBVA</strong> banking officer</h5>
            <p class="card-text text-primary">Barcelona | on-site work | jul.2007 - jul.2019</p>
            <h6 class="text-secondary">My banking career began at Caixa Sabadell, which later became Unnim and was eventually acquired by BBVA. I worked mainly in bank branches, advising on financial products. I then moved on to become an asset manager in servicing companies, where I managed bank-owned assets.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
