<div class="row border-bottom py-4 px-5">
  <h1 class="">{{ 'cv-title' | translate }}</h1>
</div>
<div class="row p-md-5 p-4">
  <div class="col-12 col-md-5 text-center">
    <img class="cv-img" src="/assets/img/cv-cercle.png" alt="profile">
  </div>
  <div class="col-12 col-md-7 p-md-5 p-4 text-md-end">
    <h2 class="py-5 px-2" [innerHTML]="'cv-subtitle' | translate"></h2>
    <a href="/assets/cv elisenda lv.pdf" download="cv elisenda lv.pdf" class="btn btn-outline-primary px-5">download cv</a>
  </div>
</div>

<div class="accordion" id="accordion1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h1 class="px-4">{{ 'cv-experience' | translate }}</h1>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show p-4" aria-labelledby="headingOne" data-bs-parent="#accordion1">
      <div class="accordion-body  p-5">

        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h4 class="card-title"><strong> Frontend Developer</strong></h4>
            <span class=" text-primary">Capitole Consulting - Vueling Airlines</span>
            <p class="card-text text-secondary">Barcelona | Hybrid | jun.2024 - sept.2024</p>
            <p>{{ 'cv-capitole' | translate }}</p>
            <h6 class="card-title pt-4"><strong>Tech Skills</strong></h6>
            <span>{{ 'cv-capitole-skills' | translate }}</span>
          </div>
        </div>
        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h4 class="card-title"><strong>Frontend Developer</strong></h4>
            <span class=" text-primary">IT Academy</span>
            <p class="card-text text-secondary">Barcelona | Hybrid | may.2023 - may.2024</p>
            <p>{{ 'cv-ita' | translate }}</p>
            <h6 class="card-title pt-4"><strong>Tech Skills</strong></h6>
            <span>{{ 'cv-ita-skills' | translate }}</span>
          </div>
        </div>
        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h4 class="card-title"><strong>Key Acount Manager</strong></h4>
            <span class=" text-primary">LEM Loan eMarket</span>
            <p class="card-text text-secondary">Barcelona | Hybrid | feb.2020 - dic.2022</p>
            <p>{{ 'cv-lem' | translate }}</p>
            <h6 class="card-title pt-4"><strong>Tech Skills</strong></h6>
            <span>{{ 'cv-lem-skills' | translate }}</span>
          </div>
        </div>
        <div class="card bg-light p-3 mb-5">
          <div class="card-body">
            <h4 class="card-title"><strong>Banking Officer</strong></h4>
            <span class=" text-primary">BBVA</span>
            <p class="card-text text-secondary">Barcelona | on-site work | jul.2007 - jul.2019</p>
            <p>{{ 'cv-bbva' | translate }}</p>
            <h6 class="card-title pt-4"><strong>Tech Skills</strong></h6>
            <span>{{ 'cv-bbva-skills' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
