<div class="row border-bottom py-4 px-5">
  <h1 class="">cv</h1>
</div>
<div class="row p-5">
  <div class="col-12 col-md-5 text-center p-3">
    <!-- <img class="" src="/assets/img/profile.png" alt="profile"> -->
  </div>
  <div class="col-12 col-md-7 p-3">
    <h2 class="py-5 px-2">My experience in banking taught me the importance of precision, problem-solving, and client-focused solutions—skills that now shape my approach to development. I bring a unique blend of analytical rigor and creativity to every project, always driven to create seamless and impactful user experiences.</h2>
  </div>
</div>

<div class="accordion" id="accordion1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h1 class="px-4">professional experience</h1>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion1">
      <div class="accordion-body p-5">
        <h5>🚧 💡 work in progress  💡 🚧</h5>
        <a href="https://www.linkedin.com/in/elisenda-lv/" target="_blank"><i class="fa-brands fa-linkedin-in pe-5" style="color:black"></i></a>
        <a href="https://github.com/Elisenda-LV" target="_blank"><i class="fa-brands fa-github" style="color: black"></i></a>
      </div>
    </div>
  </div>
</div>
