<nav class="navbar bg-black p-4">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><h4>elisenda lópez</h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color:white; size:light"></i>
    </button>
    <div class="offcanvas offcanvas-top bg-black" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">elisenda lópez</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav text-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/'" data-bs-dismiss="offcanvas"><h2 class="text-light">home</h2></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/aboutme'" data-bs-dismiss="offcanvas"><h2 class="text-light">{{ 'about-title' | translate }}</h2></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/cv'" data-bs-dismiss="offcanvas"><h2 class="text-light">{{ 'home-cv-title' | translate }}</h2></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/projects'" data-bs-dismiss="offcanvas"><h2 class="text-light">{{ 'home-projects-title' | translate }}</h2></a>
          </li>
          <li class="nav-item py-5">
            <a href="https://www.linkedin.com/in/elisenda-lv/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x pe-5" style="color:white"></i></a>
            <a href="https://github.com/Elisenda-LV" target="_blank"><i class="fa-brands fa-github fa-2x" style="color:white"></i></a>
          </li>
          <li class="nav-item d-flex justify-content-center pt-4">
            <select class="form-select text-secondary ps-5" [(ngModel)]="selectedLanguage" (change)="onLanguageChange()" >
              <option value="es">castellano</option>
              <option value="en">english</option>
              <option value="ca">català</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
