.navbar-toggler{
  border: none;
  background: none;

}

.offcanvas {
  width: 100% !important;
  height: 80% !important;
  max-width: none !important;
}

.btn-close{
  color:white;
}

.form-select{
  background-color: black;
  color: white;
  border: none;
  width: 50pt;
  border-radius: 20pt;
  font-weight: lighter;

}





