<nav class="navbar bg-black px-5">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><h3>elisenda lópez</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color:white; size:light"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/aboutme'">about me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/cv'">cv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/projects'">projects</a>
          </li>
          <li class="nav-item pt-5">
            <a href="https://www.linkedin.com/in/elisenda-lv/"><i class="fa-brands fa-linkedin-in pe-5" style="color:black"></i></a>
            <a href="https://github.com/Elisenda-LV"><i class="fa-brands fa-github" style="color:black"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
