<div class="row">
  <div class="col-12 col-md-6 p-5 border">
    <h5>¡Hola! Soy Elisenda,</h5>
    <h1>frontend developer</h1>
    <i class="fa-brands fa-linkedin-in pe-5" style="color: #000000;"></i>
    <i class="fa-brands fa-github" style="color: #000000;"></i>
  </div>
  <div class="col-12 col-md-6 p-5 border"></div>
</div>

<div class="row">
  <div class="col-12 col-md-6 p-5 border">

  </div>
  <div class="col-12 col-md-6 p-5 border">
    <h1>about me</h1>
    <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam tempore, cupiditate quibusdam consequatur assumenda sequi aut facilis vel quam voluptas.</p>
    <button class="btn btn-outline-dark" [routerLink]="'/aboutme'">More about me</button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 p-5 border">
    <h1>cv</h1>
    <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam tempore, cupiditate quibusdam consequatur assumenda sequi aut facilis vel quam voluptas.</p>
    <button class="btn btn-outline-dark" [routerLink]="'/cv'" >Explore my CV</button>
  </div>
  <div class="col-12 col-md-6 border"></div>
</div>

<div class="row">
  <div class="col-12 col-md-6 p-5 border">

  </div>
  <div class="col-12 col-md-6 p-5 border">
    <h1>projects</h1>
    <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam tempore, cupiditate quibusdam consequatur assumenda sequi aut facilis vel quam voluptas.</p>
    <button class="btn btn-outline-dark" [routerLink]="'/projects'">Explore my Projects</button>
  </div>
</div>
