.bg-about{
  background-color: rgb(70, 155, 240);

}

.bg-cv{
  background-color: rgb(247, 230, 46);
}

.bg-projects{
  background-color: rgb(233, 116, 53);
}

h1, h5, p{
  font-weight: lighter;
}

.btn{
  border-radius:20pt;
  font-weight: lighter;
  // border:none;
}

img{
  width: 75%;

}
.resume{
  width: 100%;
}




