<div class="row p-5">
  <div class="col-12 col-md-4 text-center pt-5">
    <img class="resume" src="/assets/img/cv.png" alt="resume">
  </div>
  <div class="col-12 col-md-8 text-end p-5">
    <h1 class="py-5 px-2">I'm Elisenda, an enthusiastic frontend developer :)</h1>
    <a class="btn btn-outline-dark" [routerLink]="'/aboutme'">More about me</a>
  </div>
</div>

<div class="row p-5">
  <div class="col-12 col-md-6 p-5">
    <h2>cv</h2>
    <p class="text-secondary">Con experiencia en [tecnologías clave], he trabajado en diversos proyectos que reflejan mi adaptación, creatividad y amor por el detalle.</p>
    <a class="btn btn-outline-dark" [routerLink]="'/cv'" >Explore my CV</a>
  </div>
  <div class="col-12 col-md-6 text-center p-3">
    <img class="work" src="/assets/img/conection.png" alt="work">
  </div>
</div>

<div class="row p-5">
  <div class="col-12 col-md-6 text-center">
    <img src="/assets/img/mockup.png" alt="mockup">
  </div>
  <div class="col-12 col-md-6 text-end p-5">
    <h2>projects</h2>
    <p class="text-secondary">Explora mis proyectos: soluciones creativas y funcionales donde he aplicado mis conocimientos en frontend y diseño para experiencias impactantes.</p>
    <a class="btn btn-outline-dark" [routerLink]="'/projects'">Explore my Projects</a>
  </div>
</div>
