<div class="row p-3 p-md-5">
  <div class="col-12 col-md-5 text-center pt-5">
    <img class="resume" src="/assets/img/cv.png" alt="resume">
  </div>
  <div class="col-12 col-md-7 text-md-end p-md-5 p-4 mt-5">
    <h1 class="py-5 px-2 ">{{ 'home-title' | translate }}</h1>
    <a class="px-2" [routerLink]="'/aboutme'"> + more about me</a>
  </div>
</div>

<div class="row p-3 p-md-5">
  <div class="col-12 col-md-6 order-2 order-md-1 p-md-5 p-4">
    <h1>{{ 'home-cv-title' | translate}}</h1>
    <p>{{ 'home-cv-subtitle' | translate }}</p>
<!--     <a [routerLink]="'/cv'" >+ explore my CV</a>
    <a href="/assets/elisenda_lv_cv.pdf" download="elisenda_lv_cv.pdf" >+ download my cv</a> -->
    <div>
      <a [routerLink]="'/cv'">+ explore my cv</a>
    </div>
    <div>
      <a href="/assets/elisenda_lv_cv.pdf" download="elisenda_lv_cv.pdf">+ download my cv</a>
    </div>
  </div>
  <div class="col-12 col-md-6 order-1 order-md-2 text-center p-3">
    <!-- <img class="work" src="/assets/img/work.png" alt="work"> -->
    <img src="/assets/img/conection.png" alt="connection">
  </div>
</div>

<div class="row p-3 p-md-5 mb-5">
  <div class="col-12 col-md-6 text-center">
    <img src="/assets/img/mockup.png" alt="mockup">
  </div>
  <div class="col-12 col-md-6 text-md-end p-md-5 p-4">
    <h1>{{ 'home-projects-title' | translate }}</h1>
    <p>{{ 'home-projects-subtitle' | translate }}</p>
    <a [routerLink]="'/projects'">+ explore my projects</a>
  </div>
</div>
